.taskHeader {
  /* Sample */
  /* position: relative;
  width: 100%;
  max-width: 380px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

  padding: 2rem;
  background-color: #ccc;
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
  color: #fff;
  font-weight: 700;
  text-align: center; */
  padding: 2rem;
  background-color: #ccc;
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);

}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: white;
}

small {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}