.taskApp {
  /* Sample */
  position: relative;
  width: 100%;
  max-width: 380px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  text-align: center;
  overflow: hidden;
  height: 60vh;
}